:root {
  --bg-color-lighter: #38d39f;
  --bg-color-light: #21aba5;
  --bg-color-dark: #1d566e;
  --bg-color-darker: #163a5f;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  /* overflow-y: scroll;  */
}

.noDisplay {
  display: none;
}

nav {
  background-color: #38d39f;
}

.navbar-light .nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin: 0 10px 0 20px;
  position: relative;
  padding: 0;
}

.navbar-brand {
  background-color: white;
  border-radius: 5px;
}

a {
  padding: 0px;
}

.collapse a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  top: 100%;
  left: 0;
  position: absolute;
  background: #1e7565;
  transition: width 0.5s linear 0s, right 5s ease 0s;
  width: 0;
}

.collapse a:hover:after {
  width: 100%;
  left: 0%;
}

.carousel .carousel-item {
  height: 100vh;
  width: 100%;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  opacity: 0.8;
}

.carousel-caption h2,
.carousel-caption h3 {
  color: white;
  font-size: 5.2em;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 0 200px 0;
}

.container {
  color: #333;
  text-align: center;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.2rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.about-us img {
  max-width: 100%;
  max-height: 100%;
  padding: 40px 20px 0 10px;
}

#right {
  font-size: 20px;
}

/*media ends*/

.parallax {
  /* The image used */
  background-image: url("/assets/event.jpg");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.display-4 {
  color: white;
  font-weight: 700;
}

span {
  color: white;
  font-weight: 700;
}

li {
  color: white;
  font-weight: 700;
}

.upcoming-event {
  margin-top: 70px;
  padding-top: 20px;
}

.upcoming-event h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

.upcoming-event h2:after {
  content: "";
  position: absolute;
  width: 295px;
  height: 2px;
  margin-left: -295px;
  bottom: 0px;
  background-color: #85af4b;
}

.about-us {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-us:after {
  content: "";
  display: block;
  clear: both;
}

.about-us h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

.about-us h2:after {
  content: "";
  position: absolute;
  width: 164px;
  height: 2px;
  margin-left: -158px;
  bottom: 0px;
  background-color: #85af4b;
}
.thumb {
  margin-bottom: 30px;
}

.page-top {
  margin-top: 85px;
}

img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.gallery-section {
  margin-top: 50px;
  padding-top: 0;
}

.gallery-section h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

.gallery-section h2:after {
  content: "";
  position: absolute;
  width: 135px;
  height: 2px;
  margin-left: -135px;
  bottom: 0px;
  background-color: #85af4b;
}

.preloader-body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-container {
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}

.preloader {
  width: 100%;
  height: 100%;
  background-color: #00f76f;
  z-index: 10;
  position: absolute;
}

.circle {
  border-radius: 190px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.circle1 {
  background-color: #7752d5;
  width: 240px;
  height: 240px;
  margin-top: -120px;
  margin-left: -120px;
}

.circle2 {
  background-color: #8362d9;
  width: 170px;
  height: 170px;
  margin-top: -85px;
  margin-left: -85px;
}

.circle3 {
  background-color: #9f88d6;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
}

.team-item {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  background: linear-gradient(
      45deg,
      var(--bg-color-lighter) 0%,
      hsla(262, 98%, 41%, 0) 70%
    ),
    linear-gradient(
      135deg,
      var(--bg-color-light) 10%,
      hsla(304, 98%, 50%, 0) 80%
    ),
    linear-gradient(
      225deg,
      var(--bg-color-dark) 10%,
      hsla(274, 97%, 41%, 0) 80%
    ),
    linear-gradient(
      315deg,
      var(--bg-color-darker) 100%,
      hsla(261, 92%, 41%, 0) 70%
    );
}
.team-item img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.team-main:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.team-main:hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.team-item span {
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 18px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  color: rgba(247, 250, 251, 1);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.team-item span a i {
  color: #fff;
  margin: 5px;
}
.team-item span a i:hover {
  color: #000;
}
.team-main:hover span {
  visibility: visible;
  top: 35%;
  -webkit-transition: all 500ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
}

.name {
  border-radius: 0 0 4px 4px;
  padding: 15px;
  background-color: rgba(247, 250, 251, 1);
}
.name p {
  font-size: 14px;
  color: #607d8b;
}

.team-text h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

.team-text h2:after {
  content: "";
  position: absolute;
  width: 260px;
  height: 2px;
  margin-left: -250px;
  bottom: 0px;
  background-color: #85af4b;
}

.footer {
  padding: 6em 0;
  background: var(--bg-color-lighter);
}

/*--social icons--*/

@media screen and (max-width: 992px) {
  #carouselId {
    margin-top: 7rem;
  }

  nav {
    background-color: #38d39f;
  }

  .nav-item .nav-link {
    color: white;
  }

  .carousel-caption h3 {
    font-size: 2.2em;
    margin-bottom: 180px;
  }

  .carousel .carousel-item {
    height: 28em;
    width: 100%;
  }

  .carousel {
    height: 20em;
  }

  .about-us img {
    max-width: 80%;
    max-height: 80%;
    padding: 10px 10px 0 10px;
  }

  #right {
    padding: 20px 20px 0 20px;
    text-align: center;
    font-size: 1.2rem;
  }
/* 
  .team-item img {
    width: 80%;
    height: 80%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  } */

  .upcoming-event {
    margin-top: 200px;
    padding-top: 20px;
  }  

}

@media screen and (max-width: 500px){
  .team-item img {
    width: 50%;
    height: 50%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
